{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}ABM Users{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/abm_clients.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}

    <div class="main_div">
    <h2>Fidelidad de clientes</h2>

    
    <form class="centered" method="POST" action=" {% url "abm_clients" %} ">

        {% csrf_token %}
        {{ abm_clients_form }}

        <input type="submit" value="Enviar">
    </form>
    </div>

{% endblock main %}

<!-- EN esta misma vista inserta un generador de client card que  -->