{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Registro de Clientes{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/abm_clients.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}

    <div class="main_div">
    <h2>Formulario de registro de Clientes</h2>
    <p>Por favor complete el formulario con la información requerida</p>
   
    <form class="form" method="POST" action=" {% url "abm_clients" %} ">
        {% csrf_token %}

        <fieldset>
            <legend>Información Personal</legend>
            {{ form.firstName.label_tag }} {{ form.firstName }}
            {{ form.lastName.label_tag }} {{ form.lastName }}
            {{ form.dni.label_tag }} {{ form.dni }}
            {{ form.telephone.label_tag }} {{ form.telephone }}
            {{ form.address.label_tag }} {{ form.address }}
            {{ form.city.label_tag }} {{ form.city }}
            {{ form.zip.label_tag }} {{ form.zip }}
        </fieldset>

        <fieldset>
            <legend>Tipo de cuenta</legend>
            {{ form.Cuenta.label_tag }} {{ form.Cuenta }}
        </fieldset>

        <fieldset>
            <legend>Información Adicional</legend>
            {{ form.birthday.label_tag }} {{ form.birthday }}
            {{ form.hearFromUs.label_tag }} {{ form.hearFromUs }}
            <!-- {{ form.comment.label_tag }} {{ form.comment }} -->
        </fieldset>

        <button type="submit">Enviar</button>
    </form>
    </div>

{% endblock main %}

<!-- EN esta misma vista inserta un generador de client card que  -->