{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Registro de Clientes{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/abm_clients.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}

    <div class="main_div">
    <h2>Formulario de registro de Clientes</h2>
    <p>Por favor complete el formulario con la información requerida</p>
   
    <form class="form" method="POST" action=" {% url "abm_clients" %} ">
        {% csrf_token %}

        <fieldset>
            <div class="form-group">
                <div class="form-item">
                {{ form.firstName.label_tag }} {{ form.firstName }} {{ form.firstName.errors }}
                </div>
                <div class="form-item">
                {{ form.lastName.label_tag }} {{ form.lastName }} {{ form.lastName.errors }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <div class="form-item">
                    {{ form.dni.label_tag }} {{ form.dni }} {{ form.dni.errors }}
                </div>
                <div class="form-item">
                    {{ form.email.label_tag }} {{ form.email }} {{ form.email.errors }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <div class="form-item">
            {{ form.telephone.label_tag }} {{ form.telephone }} {{ form.telephone.errors }}
            </div>
                <div class="form-item">
            {{ form.address.label_tag }} {{ form.address }} {{ form.address.errors }}
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <div class="form-item">
            {{ form.city.label_tag }} {{ form.city }} {{ form.city.errors }}
            </div>
                <div class="form-item">
            {{ form.birthday.label_tag }} {{ form.birthday }}
            </div>
        </fieldset>

        <button type="submit">Enviar</button>
    </form>
    </div>

{% endblock main %}