{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Gestión de Productoss{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/abmProductos.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}

    <div class="main_div">
    <h2>Formulario de alta de Productos</h2>
    <p>Por favor complete el formulario con la información requerida</p>
   
    <form class="form" method="POST" action=" {% url "abmProductos" %} ">
        {% csrf_token %}

        <fieldset>
            <div class="form-group">
                <div class="form-item">
                    {{ form.nombreProducto.label_tag }} {{ form.nombreProducto }}
                </div>
                <div class="form-item">
                    {{ form.descripcion.label_tag }} {{ form.descripcion }}
                </div>
                <div class="form-item">
                {{ form.categorias.label_tag }} {{ form.categorias }}
                </div>
        </fieldset>
        <fieldset>
            <div class="form-item">
            {{ form.precio.label_tag }} {{ form.precio }}
            </div>
            <div class="form-item">
            {{ form.rating.label_tag }} {{ form.rating }}
            </div>
            <div class="form-item">
            {{ form.cantidadDisponible.label_tag }} {{ form.cantidadDisponible }}
            </div>
        </fieldset>

        <button type="submit">Enviar</button>
    </form>
    </div>

{% endblock main %}