{% extends "pasticceria/base.html" %}
{% load static %}
{% block tittle %}Añadir Items{% endblock tittle%}
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/anadir_orden_items.css" %}">
{% endblock css %}

{% block main %}

<div class="main_div">
    <h2>Orden #{{ orden.id }}</h2>

    <form class="form" method="post">
        {% csrf_token %}

        <fieldset>
            <div class="form-group">
                <div class="form-item">
                    {{ orden_item_form.producto.label_tag }} 
                    {{ orden_item_form.producto }}
                    {{ orden_item_form.producto.error }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-item">
                    {{ orden_item_form.cantidad.label_tag }} 
                    {{ orden_item_form.cantidad }}
                    {{ orden_item_form.cantidad.error }}
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Añadir Item</button>
        </fieldset>
    </form>

    <br>
    <div class="items-anadidos">
        <h3>Items en Orden:</h3>

        <div class="item-anadidos-table">
            <table class="table">
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Precio x unidad</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
                {% for item in orden_items %}
                <tr>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.producto.nombre }}</td>
                    <td>${{ item.producto.precio }}</td>
                    <td>${{ item.total }}</td>
                    <td>
                        <div class="acciones">
                            <a href="{% url 'ordenItemEditar' orden.id item.id %}"alt="Editar">📝</a>
                            <a href="{% url 'ordenItemBorrar' orden.id item.id %}"alt="Borrar">❌</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="botones">
        <a href="{% url 'index' %}" class="btn btn-danger">Cancelar</a>
        <a href="{% url 'crear_orden' %}" class="btn btn-primary">Iniciar nueva orden</a>
    </div>
</div>
{% endblock main %}