{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALBA Pasticceria {% block tittle %}{% endblock tittle %}</title>
    <script src="https://kit.fontawesome.com/a637af11bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "pasticceria/css/base.css" %}">
    {% block css %}{% endblock css %}
</head>

<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar">
            <div class="logo-nombre">
                <a class="navbar-brand" href=" {% url "index" %}">
                    <img src="{% static "pasticceria/media/images/alba_logo.jpeg" %}" alt="Logo" width="100" height="100">
                </a>
            </div>
            <div class="navbarNav">
                <ul class="navbarnav-list">
                    {% comment %} <li class="nav-item active">
                        <a class="nav-link" href=" {% url 'index' %} ">Principal</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'menu' %} ">Pastelería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'cafe' %} ">Cafetería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'abm_clients' %} ">Alta Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'abmProductos' %} ">Alta Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'admin' %} ">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
            {% comment %} Strcuture for in screen messages {% endcomment %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>

    <!-- Main -->
    <main class="main">
        <div class="main-div">
        {% block main %}{% endblock main %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer-body">
        <div id="footer-menu">
            <div class="footer-menu">
                <div class="footer-column">
                    <div class="social-copy">
                        <div class="logo-wrapper">
                            <a class="navbar-brand" href=" {% url "index" %}">
                            <img class="footer-logo" src="{% static 'pasticceria/media/images/alba_logo.jpeg' %}" alt="footer-logo">
                            </a>
                        </div>
                        Siguenos:
                        <div class="grid-sociales">
                            <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer"><i
                                    class="fa-brands fo-brands fa-facebook fa-xl"></i></a>
                            <a href="http://www.instagram.com" target="_blank" rel="noopener noreferrer"><i
                                    class="fa-brands fo-brands fa-instagram fa-xl"></i></a>
                            <a href="http://www.x.com" target="_blank" rel="noopener noreferrer"><i
                                    class="fa-brands fo-brands fa-x-twitter fa-xl"></i></a>
                            <a href="http://www.threads.com" target="_blank" rel="noopener noreferrer"><i
                                    class="fa-brands fo-brands fa-threads fa-xl"></i></a>
                            <a href="http://www.tiktok.com" target="_blank" rel="noopener noreferrer"><i
                                    class="fa-brands fo-brands fa-tiktok fa-xl"></i></a>
                        </div>
                    </div>
                </div>
                <div class="footer-column">
                    <span class="footer-title">Secciones</span>
                    <div class="footer-section">
                        <a class="footer-link" rel="noopener noreferrer" href=" {% url 'menu' %} ">Pasteleria</a>
                        <a class="footer-link" rel="noopener noreferrer" href=" {% url 'cafe' %} ">Cafetería</a>
                        <a class="footer-link" rel="noopener noreferrer" href=" {% url 'abm_clients' %} ">Alta Clientes</a>
                        <a class="footer-link" rel="noopener noreferrer" href=" {% url 'abmProductos' %} ">Alta Productos</a>
                    </div>
                </div>
                <div class="footer-column">
                    <span class="footer-title">Contactanos</span>
                    <div class="footer-section" >
                        <a class="mailto" href="mailto:alba@alba.com?Subject=Comentarios,%20dudas,%20quejas%20y/o%20sugerencias">Contactar por Correo</a>
                        <div class="wsapp">
                        <a href="https://wa.me/1234567890" class="whatsapp-button" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Logo">
                            Chat con nosotros en WhatsApp
                        </a>
                        </div>
                    </div>
                </div>
                <div class="footer-column">
                    <span class="footer-title">Ven a visitarnos</span>
                    <div class="footer-section">
                        <div class="maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223.25438182092924!2d-58.41668014451804!3d-34.59050838489804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca80903422a7%3A0x3638909084805a9e!2sParaguay%203771%2C%20C1425BRY%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1717033522532!5m2!1sen!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <p class="direccion">Paraguay 3771 CABA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span class="copyright-text">
                    Todos los derechos reservados&copy;
                    <!--  -->
                    2024
                    <!--  -->
                    ALBA Pasticceria
                </span>
            </div>
        </div>
    </footer>
</body>

</html>