{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Actualización de Cliente{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/clienteActualizar.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}
    <h2>Update Cliente</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
    <a href="{% url 'clienteListar' %}">Cancel</a>
{% endblock main %}