{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Name List{%endblock tittle%}
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/abm_clients.css" %}">
{% endblock css %} 


{% block main %}
<h2>Listado de clientes</h2>

{% if payment_status %} No presentan deudas {% else %} Presentan deuda {%endif%}

<br>
<br>

<section>
  {% for name in names %}
  <article>
    <p>{{ name | upper }}</p>
  </article>

  {% empty %}
  <article>
    <p>{{ name }}</p>
  </article>

  {% endfor %}
</section>

<a href=" {% url 'index' %}">Volver</a>
{% endblock main %}
