{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Borrar Cliente{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/clienteBorrar.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}
<div class="main_div">

    <h2>Eliminar Cliente</h2>
    <p>¿Esta seguro de borrar a: <span>{{ cliente.nombre }} {{ cliente.apellido }}</span>?</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="botones">
            <button type="submit" class="btn-secondary btn">Confirmar</button>
            <div class="cancelar">
                <a href="{% url 'clienteListar' %}" class="btn-danger btn">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock main %}