{% extends "pasticceria/base.html" %}
{% load static %}
{% block tittle %}Lista de Clientes{%endblock tittle%}
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/client_list.css" %}">
{% endblock css %}


{% block main %}
<div class="main-div">
  <h2>Listado de clientes</h2>
  <br>

  {% if payment_status %} No presentan deudas {% else %} Presentan deuda {%endif%}

  <br>
  <br>

  <section>
    {% for name in names %}
    <article>
      <p>{{ name | upper }}</p>
    </article>

    {% empty %}
    <article>
      <p>{{ name }}</p>
    </article>

    {% endfor %}
  </section>

  <a href=" {% url 'index' %}">Volver</a>
</div>
{% endblock main %}