{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Listado de Clientes{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/clienteListar.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}
    <div class="main_div">
        <h2>Listado de Clientes</h2>
        
        <div class="clientes-crear">
            <a href="{% url 'clienteAlta' %}">Nuevo cliente</a>
        </div>
        
        <div class="clientes-lista">
            <br>
            <ul>
                {% for cliente in clientes %}
                <li>{{cliente.dni}} - {{ cliente.nombre }} {{ cliente.apellido }}
                    <div class="actualizar-borrar">
                        <a href="{% url 'clienteActualizar' cliente.pk %}">Actualizar</a> |
                        <a href="{% url 'clienteBorrar' cliente.pk %}">Borrar</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock main %}