{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Listado de Clientes{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/clienteListar.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}
    <div class="clientes_div">
        <h2>Listado de Clientes</h2>
    
        {% if perms.pasticceria.add_cliente %}
        <div class="clientes-crear">
            <a href="{% url 'clienteAlta' %}" class="btn btn-primary">Nuevo cliente</a>
        </div>
        {% endif %}
        <div class="clientes-lista">
            <br>
    
            <ul>
                {% for cliente in clientes %}
                <li>
                    <div class="cliente">
                        <div class="cliente-item">
                            <span class="nombre">{{ cliente.nombre }} {{ cliente.apellido }}</span>
                            <span >{{cliente.dni}}</span>
                            <span >{{ cliente.email }}</span>
                            <span >{{ cliente.direccion }}</span>
                            <span >{{ cliente.cumpleaños }}</span>
                        </div>
                    </div>
                    <div class="actualizar-borrar">
                        {% if perms.pasticceria.change_cliente %}
                        <a href="{% url 'clienteActualizar' cliente.pk %}" class="btn btn-secondary">Actualizar</a>
                        {% endif %}
                        {% if perms.pasticceria.delete_cliente %}
                        <a href="{% url 'clienteBorrar' cliente.pk %}" class="btn btn-danger">Borrar</a>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock main %}