n{% extends "pasticceria/base.html" %} 
{% load static %} 
{% block tittle %}Nueva Orden{%endblock tittle%} 
{% block css %} 
<link rel="stylesheet" href="{% static "pasticceria/css/crear_orden.css" %}"> 
{% endblock css %} 

{% block main %}

    <div class="main_div">

        <h2>Crear Orden</h2>
        <form method="post">
            {% csrf_token %} 
            
            <fieldset>
                <div class="form-group">
                    <div class="form-item">
                        {{ orden_form.cliente.label_tag }} {{ orden_form.cliente }} {{ orden_form.cliente.error }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-item">
                        {{ orden_form.vendedor.label_tag }} {{ orden_form.vendedor }} {{ orden_form.vendedor.error }}
                    </div>
                </div>
            </fieldset>
            <div class="botones">
                <button type="submit" class="btn btn-primary">Crear orden</button>
                <div class="cancelar">
                    <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>

{% endblock main %}
