n{% extends "pasticceria/base.html" %} 
{% load static %} 
{% block tittle %}Nueva Orden{%endblock tittle%} 
{% block css %} 
<link rel="stylesheet" href="{% static "pasticceria/css/crear_orden.css" %}"> 
{% endblock css %} 

{% block main %}

    <div class="form" class="main_div">
        <h2>Crear Orden</h2>
        <form method="post">
            {% csrf_token %} 
            
            <fieldset>
                <div class="form-group">
                    <div class="form-item">
                        {{ orden_form.cliente.label_tag }} {{ orden_form.cliente }} {{ orden_form.cliente.error }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-item">
                        {{ orden_form.vendedor.label_tag }} {{ orden_form.vendedor }} {{ orden_form.vendedor.error }}
                    </div>
                </div>
            </fieldset>
            <button type="submit">Crear Orden</button>
        </form>
    </div>

{% endblock main %}
