{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}{% endblock tittle%} 
{% block css %}
  <link rel="stylesheet" href="{% static "pasticceria/css/index.css" %}">
{% endblock css %} 

{% block main %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Add your main content here -->
      <h1>Bienvenido {{ userName }} a ALBA Pasticceria</h1>
      <p>Esta vista tendrá imagenes o videos de novedades de productos y eventos.</p>
      {% comment %} <img src="{% static "pasticceria/media/images/alba_logo.jpeg" %}" alt="Logo de empresa" width="200" height="200"> {% endcomment %}
    </div>
  </div>
</div>
{% endblock main %}
