{% extends "pasticceria/base.html" %} 
{% load static %}
{% block tittle %}Eliminar Producto{% endblock tittle%} 
{% block css %}
<link rel="stylesheet" href="{% static "pasticceria/css/productoBorrar.css" %}">
{% endblock css %} 

<!-- Main Content -->
{% block main %}
    <div class="main_div">
        
        <h2>Eliminar Producto</h2>
        <p>¿Estás seguro que deseas eliminar el producto: <span> {{ object.nombre }}</span>?</p>

        <form method="post">
            {% csrf_token %}
            <div class="botones">
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <div class="cancelar">
                    <a href="{% url 'productoListar' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock main %}