:root {
    --clr-bodyBackground: #fbf9f2;
    --clr-headerBackground: #fdfaed;
    --clr-boxShadow: #00000080;
    --clr-navButton: #f9f4dd;
    --clr-footerBackground: #fdfaed;
    --clr-navButtonHover: #71dea7;
    --clr-red: #C03028;
    --type-normal: #A8A878;
}


* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-headerBackground);
    min-height: 100svh;
    margin: 0
}

ul {
    list-style-type: none;
}

a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.header {
    
    box-sizing: content-box;
    position: relative;
    padding-bottom: 2em;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* pantallas menores a 577px */
.navbar {
    background-color: var(--clr-bodyBackground);
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    box-shadow: 0 0 2rem -1rem var(--clr-boxShadow);
}

@media only screen and (min-width: 577px) {
    .navbar {
        display: grid;
        grid-template-columns: 30% 70%;
        max-width: 928px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1600px;
    }
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 2rem;
    align-items: center; /* contendedor padre de h2, en flex lo alinea en vertical y horizontal*/
}

.logo-nombre {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 2em 0 5em;
    align-items: center; /* contendedor padre de h2, en flex lo alinea en vertical y horizontal*/
}

.navbarNav {
    margin: auto;
    padding: 0 4em 0 1em;
}

.navbarnav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.navbarnav-list a {
    background-color: var(--clr-navButton);
    margin: 0.3rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.navbarnav-list a:hover {
    background-color: var(--clr-navButtonHover);
    cursor: pointer;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 1600px;
    justify-content: center;
    justify-items: center;
}

.main-message {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1600;
    
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1600;
    /* height: 100svh; */
}

.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.messages li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.messages li.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.messages li.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* .main .messages {
    position: relative;
    padding: 15px;
}

.main .messages .success {    
    background-color: rgba(37, 198, 55, 0.5);
    color: black;
    padding: 1em;
}

.main .messages .error {
    background-color: rgb(252, 114, 114);
    color: rgb(254, 9, 9);
} */

/* FOOTER */
/* pantallas menores a 577px */
.footer-body {
    box-sizing: content-box;
    position:relative;
    color: var(--clr-white);
    padding: 26px 24px 0 24px;
    width: 100%;
}

@media only screen and (min-width: 577px) {
    .footer-body {
        padding: 32px 40px 0 40px;
        position: relative;
    }
}

@media only screen and (min-width: 992px) {
    .footer-body {
        display: block;
        padding: 32px 0 0 0;
        flex-direction: column;
    }
}

#footer-menu {
    background-color: var(--clr-footerBackground);
    max-width: 1600px;
    margin: 0 auto;
    box-shadow: 0 0 1.5rem -1rem var(--clr-boxShadow);
    padding: 16px 0;
}

/* pantallas menores a 577px */
.footer-menu {
    border-bottom: 1px solid var(--clr-black);
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}

@media only screen and (min-width: 577px) {
    .footer-menu {
        grid-template-columns: repeat(4, 25%);
        max-width: 928px;
    }
}

@media only screen and (min-width: 992px) {
    .footer-menu {
        grid-template-columns: repeat(4, 25%);
        margin: 0 auto;
        max-width: 1300px;
    }
}

.social-copy {
    align-items: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: calc(100% - 258px);
    max-width: 251px;
    justify-content: center;
    margin-bottom: 5px;
}

.wsapp {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: calc(100% - 258px);
    max-width: 80px;
    justify-content: center;
}

.direccion {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    margin: 0.5em;
}

iframe {
    margin: 0.5em auto;
    border: 0;
}

@media only screen and (min-width: 577px) {
    .logo-wrapper {
        align-items: inherit;
        flex-direction: column;
        gap: inherit;
        margin-top: 0;
        margin-bottom: 7px;
    }
}

@media only screen and (min-width: 992px) {
    .logo-wrapper {
        flex-direction: column;
        align-items: inherit;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.footer-logo {
    width: 100%;
}

.wsapp img {
    width: 100%;
}
.grid-sociales {
    display: inline-flex;
    gap: 12px;
    margin-top: 16px;
}

@media only screen and (min-width: 577px) {
    .grid-sociales {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) {
    .grid-sociales {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.fa-brands {
    color: var(--clr-grass);
}

.fa-brands:hover {
    color: var(--clr-navButtonHover);
}

.footer-column {
    margin-bottom: 10px;
    text-align: center;
}

@media only screen and (min-width: 577px) {
    .footer-column {
        font-size: 14px;
        grid-template-columns: 100%;
        padding-left: 0;
        row-gap: 4px;
        text-align: center;
    }
}

.footer-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 4;
    margin-top: 8px;
}

@media only screen and (min-width: 577px) {
    .footer-section {
        flex-direction: column;
        margin-top: 8px;
    }
}

.footer-link {
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    min-width: 48px;
    padding: 16px 8px;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
}

.copyright-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
}

@media only screen and (min-width: 577px) {
    .copyright-text {
        text-align: center;
    }
}

.mailto {
    margin: 1em;
    font-weight: 600;
}